div.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
form {
  width: 400px;
}
form.style-inline > div.controller {
  position: relative;
}
form.style-inline > div.controller > input {
  border: 1px solid #ccc;
  margin: 0;
  padding: 2px;
  height: 28px;
  width: 100%;
  box-sizing: border-box;
}
form.style-inline > div.controller > input ~ input {
  display: none;
}
form.style-inline ul.token-input {
  border: 1px solid #ccc;
  margin: 0;
  padding: 2px;
  list-style: none;
  font-size: 0;
  cursor: text;
  min-height: 20px;
}
form.style-inline ul.token-input > li.input {
  margin: 1px;
  display: inline-block;
}
form.style-inline ul.token-input > li.input-token {
  border: 1px solid #CCD5E4;
  border-radius: 3px;
  padding: 1px 3px;
  font-size: 0;
  height: 16px;
  cursor: pointer;
}
form.style-inline ul.token-input > li.input-token.hover,
form.style-inline ul.token-input > li.input-token:hover {
  background: #eee;
}
form.style-inline ul.token-input > li.input-token > input {
  display: none;
}
form.style-inline ul.token-input > li.input-token > p {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-size: 11px;
}
form.style-inline ul.token-input > li.input-token > span {
  font-size: 11px;
}
form.style-inline ul.token-input > li.input-token > span::before {
  display: inline-block;
  padding-left: 5px;
  content: 'x';
}
form.style-inline ul.token-input > li.input-ing > input {
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 11px;
  height: 20px;
}
form.style-inline ul.token-input > li.input-ing > input:focus {
  outline: 0;
}
form.style-inline ul.token-input + div.autocomplete {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -1px;
  width: 398px;
  min-height: 30px;
  max-height: 120px;
  overflow: scroll;
  border: 1px solid #ccc;
  background: #fafafa;
  z-index: 99;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
			Introduced in IE 10.
			See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
			*/
  -ms-user-select: none;
  user-select: none;
}
form.style-inline ul.token-input + div.autocomplete.active {
  visibility: visible;
}
form.style-inline ul.token-input + div.autocomplete > div {
  padding: 5px 3px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  cursor: pointer;
}
form.style-inline ul.token-input + div.autocomplete > div.hover {
  background: #ddfafa;
}
